<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>authn | demo</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		 <!-- google jquery -->
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!-- simp webauthn -->
      <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js" integrity="sha384-/Vdr3cY85sIGxO/nLSp5M+9Yxv50GnbPj5fn9I3+TKmE+ge6NUmkqzrLUxesdTeV" crossorigin="anonymous"></script>
      <!-- <script src="static/js/webauthn/authn.js"></script> -->
   </head>
   <body>
      <nav class="navbar navbar-expand-lg bg-light">
         <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Apple</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
               <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  <a class="nav-link" href="#"></a>
                  {% if user.is_authenticated %}
                  <a class="nav-link" href="{% url 'django_user:logout' %}">Sign out</a>
                  {% else %}
                  <a class="nav-link" href="{% url 'django_user:signup' %}">Sign up</a>
                  <a class="nav-link" href="{% url 'django_user:login' %}">Sign in</a>
                  {% endif %}
               </div>
            </div>
        </nav>
        <div class = "container">
            {% block content %}
            {% endblock content %}
        </div>
        <!-------------------------------------------------------->
        <!-- Registration Script-->
        <script>
            const { startRegistration } = SimpleWebAuthnBrowser;
            function stopSubmit(event) {
            event.preventDefault();
            }
						$(document).ready(function(){
            		$("button").click(function(){
            			console.log("b clicked")
            			var signupValue=$("input:text").val();
									console.log(signupValue);
            			// send data to python server
			            $.ajax({
			            	url:"/api/generate-registration-options/",
			            	type:"POST",
			            	contentType: "application/json",
			            	data: JSON.stringify({"post_data":signupValue})
									});
            		});
            	});
            // <button>
            const elemBegin = document.getElementById('btnBegin');
            // <span>/<p>/etc...
            const elemSuccess = document.getElementById('success');
            // <span>/<p>/etc...
            const elemError = document.getElementById('error');
            
            // Start registration when the user clicks a button
            elemBegin.addEventListener('click', async () => {
							console.log("btnBegin button clicked")
              // Reset success/error messages
              elemSuccess.innerHTML = 'success';
              elemError.innerHTML = 'error';
              // GET registration options from the endpoint that calls
              // @simplewebauthn/server -> generateRegistrationOptions()
            	// Get users value in input field
              const resp = await fetch('/api/generate-registration-options/');
              // what is the response
              console.log("RESPONSE...: ",resp);
              let attResp;
              try {
                // Pass the options to the authenticator and wait for a response
                attResp = await startRegistration(await resp.json());
              } catch (error) {
                // Some basic error handling
                if (error.name === 'InvalidStateError') {
                  elemError.innerText = 'Error: Authenticator was probably already registered by user';
                } else {
                  elemError.innerText = error;
                }
            
                throw error;
              }
            
              // POST the response to the endpoint that calls
              // @simplewebauthn/server -> verifyRegistrationResponse()
            console.log("Fetching verify registration")
              const verificationResp = await fetch('api/verify-registration-response/', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(attResp),
              });
            console.log("Fetched verify registration")
              // Wait for the results of verification
              const verificationJSON = await verificationResp.json();
            
            console.log("GOT VERIFICATION_JSON: ", verificationJSON);
            event.currentTarget.submit();
            console.log("registered")
            
              // Show UI appropriate for the `verified` status
              if (verificationJSON && verificationJSON.verified) {
                elemSuccess.innerHTML = 'Success!';
              } else {
                elemError.innerHTML = `Oh no, something went wrong! Response: <pre>${JSON.stringify(
                  verificationJSON,
                )}</pre>`;
              }
            });
            
        </script>
        <!-- End Registration Script -->
        <!-- Authentication Script -->
        <script>
            const { startAuthentication } = SimpleWebAuthnBrowser;
            
            // <button>
            const elemBeginAuth = document.getElementById('btnBeginAuth');
            
            // Start authentication when the user clicks a button
            elemBeginAuth.addEventListener('click', async () => {
            console.log("auth button clicked");
            
              // GET authentication options from the endpoint that calls
              // @simplewebauthn/server -> generateAuthenticationOptions()
              const authResp = await fetch('api/generate-authentication-options/');
            	console.log("fetching authentication");
              let asseResp;
              try {
                // Pass the options to the authenticator and wait for a response
                asseResp = await startAuthentication(await authResp.json());
              } catch (error) {
                // Some basic error handling
                console.log("error");
                throw error;
              }
            
              // POST the response to the endpoint that calls
              // @simplewebauthn/server -> verifyAuthenticationResponse()
              const authverificationResp = await fetch('api/verify-authentication/', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(asseResp),
              });
            
              // Wait for the results of verification
              const authverificationJSON = await authverificationResp.json();
            console.log("received JSON response")
              // Show UI appropriate for the `verified` status
              if (authverificationJSON && authverificationJSON.verified) {
                console.log("Success");
              } else {
                console.log("error");
              }
            });
        </script>
        <!-- End Authentication Script -->
        <!-- Bootstrap JS -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
				<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    </body>
</html>